<h1> <%= @plant.name %> </h1>
<%= link_to @plantlibrary.name, @plantlibrary %> 

<p><strong>Added:</strong> <%= @plant.created_at.strftime("%d.%m.%Y") %> </p>
<p><strong>Description:</strong> <%= @plant.description %></p>
